/*-- 2.3 Bootstrap Elements  --*/
.form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
    -moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
    -o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
    transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
}

.form-control:focus {
    border-color: #80deea;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(128, 222, 234, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(128, 222, 234, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(128, 222, 234, 0.6);
}

.form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999999;
}

.form-control::-webkit-input-placeholder {
    color: #999999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eeeeee;
    opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}

textarea.form-control {
    height: auto;
}

.input-group-addon {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.input-group-addon.input-sm {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 2px;
}

.input-group-addon.input-lg {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 4px;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
    margin-top: 0;
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}

select.input-sm {
    height: 30px;
    line-height: 30px;
}

textarea.input-sm,
select[multiple].input-sm {
    height: auto;
}

.form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}

select.form-group-sm .form-control {
    height: 30px;
    line-height: 30px;
}

textarea.form-group-sm .form-control,
select[multiple].form-group-sm .form-control {
    height: auto;
}

.form-group-sm .form-control-static {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    min-height: 32px;
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 4px;
}

select.input-lg {
    height: 46px;
    line-height: 46px;
}

textarea.input-lg,
select[multiple].input-lg {
    height: auto;
}

.form-group-lg .form-control {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 4px;
}

select.form-group-lg .form-control {
    height: 46px;
    line-height: 46px;
}

textarea.form-group-lg .form-control,
select[multiple].form-group-lg .form-control {
    height: auto;
}

.form-group-lg .form-control-static {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    min-height: 38px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    outline: 0;
    background-image: none;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #333333;
    text-decoration: none;
    outline: 0 !important;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    -webkit-opacity: 0.65;
    opacity: 0.65;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=65);
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-default {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #e5e5e5;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #333333;
    background-color: #dcdcdc;
    border-color: #c6c6c6;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #f5f5f5;
    border-color: #e5e5e5;
}

.btn-default .badge {
    color: #f5f5f5;
    background-color: #333333;
}

.btn-primary {
    color: #ffffff;
    background-color: #009fb3;
    border-color: #0096a9;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #007180;
    border-color: #005f6b;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #009fb3;
    border-color: #0096a9;
}

.btn-primary .badge {
    color: #009fb3;
    background-color: #ffffff;
}

.btn-success {
    color: #ffffff;
    background-color: #7cb342;
    border-color: #77ac3f;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #628e34;
    border-color: #587f2f;
}

.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #7cb342;
    border-color: #77ac3f;
}

.btn-success .badge {
    color: #7cb342;
    background-color: #ffffff;
}

.btn-info {
    color: #ffffff;
    background-color: #29b6f6;
    border-color: #1fb3f6;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #0a9fe2;
    border-color: #0991cf;
}

.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #29b6f6;
    border-color: #1fb3f6;
}

.btn-info .badge {
    color: #29b6f6;
    background-color: #ffffff;
}

.btn-warning {
    color: #ffffff;
    background-color: #ffb300;
    border-color: #f5ac00;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: #cc8f00;
    border-color: #b88100;
}

.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #ffb300;
    border-color: #f5ac00;
}

.btn-warning .badge {
    color: #ffb300;
    background-color: #ffffff;
}

.btn-danger {
    color: #ffffff;
    background-color: #ff8a80;
    border-color: #ff8176;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #ff5b4d;
    border-color: #ff4839;
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #ff8a80;
    border-color: #ff8176;
}

.btn-danger .badge {
    color: #ff8a80;
    background-color: #ffffff;
}

.btn-link {
    color: #009fb3;
    font-weight: normal;
    border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
    color: #005b66;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 4px;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}

.btn-block {
    display: block;
}

.btn-block+.btn-block {
    margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-group.open .dropdown-toggle.btn-link {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    background-clip: padding-box;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu>li>a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.label-default {
    background-color: #777777;
}

.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #5e5e5e;
}

.label-primary {
    background-color: #009fb3;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #007180;
}

.label-success {
    background-color: #7cb342;
}

.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #628e34;
}

.label-info {
    background-color: #29b6f6;
}

.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #0a9fe2;
}

.label-warning {
    background-color: #ffb300;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #cc8f00;
}

.label-danger {
    background-color: #ff8a80;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #ff5b4d;
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #009fb3;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
    -webkit-transition: all width 0.6s ease ease-out;
    -moz-transition: all width 0.6s ease ease-out;
    -o-transition: all width 0.6s ease ease-out;
    transition: all width 0.6s ease ease-out;
}

.progress.active .progress-bar,
.progress-bar.active {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
    background-color: #7cb342;
}

.progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
    background-color: #29b6f6;
}

.progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
    background-color: #ffb300;
}

.progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
    background-color: #ff8a80;
}

.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/*--- Dropdown Extend ---*/
.dropdown-extend.open .btn-lbl {
    -webkit-border-radius: 4px 0px 0px 0px !important;
    -moz-border-radius: 4px 0px 0px 0px !important;
    border-radius: 4px 0px 0px 0px !important;
    background: #fff;
    z-index: 1000;
    color: #454545;
    border-bottom: #fff 1px solid;
    border-top: #e5e5e5 1px solid;
    border-left: #e5e5e5 1px solid;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dropdown-extend.open .btn-split {
    -webkit-border-radius: 0px 4px 0px 0px !important;
    -moz-border-radius: 0px 4px 0px 0px !important;
    border-radius: 0px 4px 0px 0px !important;
    z-index: 1000;
}

.dropdown-extend .dropdown-menu {
    -webkit-border-radius: 0px 4px 4px 4px !important;
    -moz-border-radius: 0px 4px 4px 4px !important;
    border-radius: 0px 4px 4px 4px !important;
    margin-left: 0px;
    margin-top: -1px;
    z-index: 100;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dropdown-extend.pull-right.open .dropdown-menu {
    -webkit-border-radius: 4px 0px 4px 4px !important;
    -moz-border-radius: 4px 0px 4px 4px !important;
    border-radius: 4px 0px 4px 4px !important;
    margin-right: 0px;
    margin-top: -1px;
    z-index: 100;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dropdown-right .dropdown-menu {
    left: auto;
    right: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
    z-index: 2000;
}

/*--2.7 switchery On/Off Switch / .switchery--*/
/*
 *
 * Main stylesheet for Switchery.
 * http://abpetkov.github.io/switchery/
 *
 */
/* Switchery defaults. */
.switchery {
    background-color: #fff;
    border: 2px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 50px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
}

.switchery>small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 30px;
    position: absolute;
    top: 0;
    width: 30px;
}

/* Switchery sizes. */
.switchery-small {
    border-radius: 20px;
    height: 20px;
    width: 33px;
}

.switchery-small>small {
    height: 20px;
    width: 20px;
}

.switchery-large {
    border-radius: 40px;
    height: 40px;
    width: 66px;
}

.switchery-large>small {
    height: 40px;
    width: 40px;
}

/*-- 2.8 No UI slider / .noUi-target --*/
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle {
    /* This class is applied to the lower origin when
   its values is > 50%. */
    z-index: 10;
}

.noUi-stacking+.noUi-origin {
    /* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
    *z-index: -1;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
    height: 4px;
}

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    left: -17px;
    top: -8px;
}

.noUi-vertical {
    width: 4px;
}

.noUi-vertical .noUi-handle {
    width: 20px;
    height: 20px;
    left: -8px;
    top: -17px;
}

/* Styling;
 */
.noUi-background {
    background-color: #eee;
}

.noUi-connect {
    background: #3FB8AF;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    border-radius: 0px;
}

.noUi-target {
    border-radius: 0px;
    background-color: #eee;
}

.noUi-target.noUi-connect {
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #bbbbbb;
}

/* Handles and cursors;
 */
.noUi-dragable {
    cursor: w-resize;
}

.noUi-vertical .noUi-dragable {
    cursor: n-resize;
}

.noUi-handle {
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    background: #FFF;
    cursor: default;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.noUi-active {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled] .noUi-handle {
    cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-pips {
    position: absolute;
    font: 400 12px Arial;
    color: #999;
}

/* Values;
 *
 */
.noUi-value {
    width: 40px;
    position: absolute;
    text-align: center;
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
    position: absolute;
    background: #CCC;
}

.noUi-marker-sub {
    background: #AAA;
}

.noUi-marker-large {
    background: #AAA;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
    padding: 10px 0;
    height: 50px;
    top: 100%;
    left: 0;
    width: 100%;
}

.noUi-value-horizontal {
    margin-left: -20px;
    padding-top: 20px;
}

.noUi-value-horizontal.noUi-value-sub {
    padding-top: 15px;
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 1px;
    height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
}

.noUi-value-vertical {
    width: 15px;
    margin-left: 20px;
    margin-top: -5px;
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 1px;
    margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px;
}

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
    }

    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }

    80% {
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
    }

    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
    }

    80% {
        transform: scale(0.95);
        -webkit-transform: scale(0.95);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}

@keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
    }
}

@-webkit-keyframes slideFromTop {
    0% {
        top: 0%;
    }

    100% {
        top: 50%;
    }
}

@keyframes slideFromTop {
    0% {
        top: 0%;
    }

    100% {
        top: 50%;
    }
}

@-webkit-keyframes slideToTop {
    0% {
        top: 50%;
    }

    100% {
        top: 0%;
    }
}

@keyframes slideToTop {
    0% {
        top: 50%;
    }

    100% {
        top: 0%;
    }
}

@-webkit-keyframes slideFromBottom {
    0% {
        top: 70%;
    }

    100% {
        top: 50%;
    }
}

@keyframes slideFromBottom {
    0% {
        top: 70%;
    }

    100% {
        top: 50%;
    }
}

@-webkit-keyframes slideToBottom {
    0% {
        top: 50%;
    }

    100% {
        top: 70%;
    }
}

@keyframes slideToBottom {
    0% {
        top: 50%;
    }

    100% {
        top: 70%;
    }
}

.showSweetAlert[data-animation=pop] {
    -webkit-animation: showSweetAlert 0.3s;
    animation: showSweetAlert 0.3s;
}

.showSweetAlert[data-animation=none] {
    -webkit-animation: none;
    animation: none;
}

.showSweetAlert[data-animation=slide-from-top] {
    -webkit-animation: slideFromTop 0.3s;
    animation: slideFromTop 0.3s;
}

.showSweetAlert[data-animation=slide-from-bottom] {
    -webkit-animation: slideFromBottom 0.3s;
    animation: slideFromBottom 0.3s;
}

.hideSweetAlert[data-animation=pop] {
    -webkit-animation: hideSweetAlert 0.2s;
    animation: hideSweetAlert 0.2s;
}

.hideSweetAlert[data-animation=none] {
    -webkit-animation: none;
    animation: none;
}

.hideSweetAlert[data-animation=slide-from-top] {
    -webkit-animation: slideToTop 0.4s;
    animation: slideToTop 0.4s;
}

.hideSweetAlert[data-animation=slide-from-bottom] {
    -webkit-animation: slideToBottom 0.3s;
    animation: slideToBottom 0.3s;
}

@-webkit-keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@-webkit-keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

@-webkit-keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}

@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}

.animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s;
}

.sa-icon.sa-success.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in;
}

@-webkit-keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        -webkit-transform: rotateX(100deg);
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }
}

@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        -webkit-transform: rotateX(100deg);
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        opacity: 1;
    }
}

.animateErrorIcon {
    -webkit-animation: animateErrorIcon 0.5s;
    animation: animateErrorIcon 0.5s;
}

@-webkit-keyframes animateXMark {
    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0;
    }

    50% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0;
    }

    80% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        margin-top: -6px;
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes animateXMark {
    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0;
    }

    50% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0;
    }

    80% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        margin-top: -6px;
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        margin-top: 0;
        opacity: 1;
    }
}

.animateXMark {
    -webkit-animation: animateXMark 0.5s;
    animation: animateXMark 0.5s;
}

@-webkit-keyframes pulseWarning {
    0% {
        border-color: #F8D486;
    }

    100% {
        border-color: #F8BB86;
    }
}

@keyframes pulseWarning {
    0% {
        border-color: #F8D486;
    }

    100% {
        border-color: #F8BB86;
    }
}

.pulseWarning {
    -webkit-animation: pulseWarning 0.75s infinite alternate;
    animation: pulseWarning 0.75s infinite alternate;
}

@-webkit-keyframes pulseWarningIns {
    0% {
        background-color: #F8D486;
    }

    100% {
        background-color: #F8BB86;
    }
}

@keyframes pulseWarningIns {
    0% {
        background-color: #F8D486;
    }

    100% {
        background-color: #F8BB86;
    }
}

.pulseWarningIns {
    -webkit-animation: pulseWarningIns 0.75s infinite alternate;
    animation: pulseWarningIns 0.75s infinite alternate;
}

/*-- 2.13 Login Page --*/
.login-page {
    background-color: #343843;
}

.login-branding {
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px 0px;
}

.login-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.login-container .login-img-card {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0px 20px 20px 20px;
}

.login-container .form-signin {
    text-align: left;
}

.login-container .forgot-password {
    text-align: left;
    display: block;
    padding-top: 10px;
}

.login-container .forgot-password:hover,
.login-container .forgot-password:focus {
    text-decoration: none;
}

.login-container .checkbox label {
    padding-left: 0px;
    color: #666;
}

.login-container .switchery {
    margin-right: 6px;
}

.login-container .btn-signin {
    padding: 10px;
}

.login-container .form-control {
    margin-bottom: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-right: 0px;
    padding-left: 0px;
}

.login-container .form-control:focus {
    background-color: #fff !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.create-account {
    width: 300px;
    margin: auto;
    text-align: center;
}

.create-account a {
    padding: 10px;
    display: block;
    color: #ddd;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.create-account a:hover,
.create-account a:focus {
    text-decoration: none;
    color: #15bdc3;
}

.login-footer {
    width: 300px;
    padding: 20px 0px;
    margin: auto;
    text-align: center;
    color: #888;
    font-size: 12px;
}

.login-footer i {
    color: #15bdc3;
    padding: 0px 4px;
}

.login-footer a {
    padding: 0px 5px;
    color: #ddd;
    font-weight: 500;
}

.login-footer a:hover,
.login-footer a:focus {
    text-decoration: none;
    color: #15bdc3;
}

.login-label {
    left: 0px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

/*-- 2.14 Error Page --*/
.error-wrap {
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(68, 68, 68, 0.05);
    -moz-box-shadow: 0 0 5px rgba(68, 68, 68, 0.05);
    box-shadow: 0 0 5px rgba(68, 68, 68, 0.05);
    padding: 40px;
}

.error-wrap .error-container {
    width: 60%;
    margin: auto;
}

.error-wrap .error-container .error-code {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #15bdc3;
    margin: 0px auto 40px auto;
}

.error-wrap .error-container .error-searchbox {
    margin-top: 10px;
}

.error-wrap .error-container .error-message h4 {
    font-size: 24px;
    color: #e57373;
}

/*-- 2.15 Invoice --*/
.invoice-container {
    margin: 0px -15px;
    background-color: #fff;
    padding: 30px 15px;
}

.invoice-info {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 20px 0px;
}

.invoice-info label {
    display: inline-block;
    width: 10em;
}

.invoice-toolbar {
    margin-bottom: 20px;
}

.invoice-toolbar .btn-toolbar {
    text-align: right;
}

.invoice-toolbar .btn-toolbar .btn-group {
    float: right;
}

.invoice-title label {
    font-size: 12px;
    font-weight: 500;
}

.invoice-cal td span {
    display: block;
    text-align: right;
}

.amount-due {
    font-size: 18px !important;
    padding: 10px 0;
}

.invoice-type {
    width: 100px;
}

.invoice-qty {
    width: 50px;
    text-align: center !important;
}

.invoice-amount,
.invoice-unit {
    text-align: right !important;
    width: 100px;
}

@media print {
    .invoice-page .page-content {
        margin-left: 0px !important;
    }

    .invoice-page .top-bar,
    .invoice-page .left-aside,
    .invoice-page .right-aside {
        display: none !important;
    }
}

.noty_animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.iconic-view .large-logo {
    display: none;
}

.pin-it .iconic-logo {
    display: none !important;
}

.iconic-view .iconic-logo {
    display: block !important;
}

@media screen and (max-width: 1024px) {
    .list-menu-view .page-content {
        margin-left: 0px;
    }

    .list-menu-view .left-aside {
        left: -260px;
    }

    .hide-list-menu .page-content {
        margin-left: 0px;
    }

    .hide-list-menu .left-aside {
        left: 0px;
    }

    .list-menu-view .page-content {
        margin-left: 0px;
    }

    .list-menu-view .left-aside {
        left: -260px;
    }

    .pin-it .page-content {
        margin-left: 0px;
    }

    .hide-aside-left {
        left: -260px;
    }

    .aside-close {
        display: block;
    }

    .leftbar-action {
        display: none;
    }

    .leftbar-action-mobile {
        display: block;
    }
}

@media screen and (max-width: 1000px) {

    .top-mid,
    .desktop-search {
        display: none;
    }

    .top-aside-right {
        position: absolute;
        top: -60px;
        right: 60px;
    }

    .mobile-search-btn {
        display: block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        position: absolute;
        top: 0px;
        left: 60px;
        font-size: 18px;
    }

    .iconic-logo {
        display: none;
    }

    .page-content {
        margin-left: 0px;
    }

    .left-aside {
        z-index: 8000;
    }

    .iconic-view .page-content {
        margin-left: 0px;
    }

    .iconic-view .left-aside {
        left: -60px;
    }

    .hide-list-menu .page-content {
        margin-left: 0px;
    }

    .hide-list-menu .left-aside {
        left: 0px;
    }

    .list-menu-view .page-content {
        margin-left: 0px;
    }

    .list-menu-view .left-aside {
        left: -260px;
    }

    .pin-it .page-content {
        margin-left: 0px;
    }

    .hide-aside-left {
        left: -260px;
    }

    .top-bar-action {
        min-height: 60px;
    }

    .top-bar-action .rightbar-action {
        display: block;
    }

    .top-aside-right .rightbar-action {
        display: none;
    }

    .aside-close {
        display: block;
    }

    .leftbar-action {
        display: none;
    }

    .leftbar-action-mobile {
        display: block;
    }

    .m-aside-action {
        display: block;
    }

    .h-iconic-view .left-aside {
        left: -260px;
        width: 260px;
    }

    .user-nav {
        margin-right: 0px;
    }

    .notification-nav {
        margin-left: 0px;
    }

    .top-bar .container-fluid {
        margin-left: 0px;
        margin-right: 0px;
    }

    .inbox-container .inbox-sidebar {
        z-index: 2000;
        left: -200px;
    }

    .inbox-container .inbox-content {
        margin-left: 0px;
    }

    .inbox-container .inbox-content .email-list {
        width: 100%;
        z-index: 1600;
    }

    .inbox-container .inbox-content .mail-body {
        z-index: 1800;
        position: fixed;
        width: 100%;
        height: 100%;
        margin-left: 0px;
        right: -100%;
        background-color: #fff;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .inbox-container.hide-inbox-sidebar .inbox-sidebar {
        left: 0px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .inbox-container.hide-inbox-sidebar .inbox-content {
        margin-left: 0px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .inbox-container.mobile-mail-show .inbox-content .mail-body {
        right: 0px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .inbox-container .mobile-mail-action {
        display: block;
    }

    .mail-body.multi-page .email-content {
        margin: 0px;
    }

    .compose-form,
    .email-list-toolbar {
        width: 100%;
    }

    .note-container .note-sidebar {
        z-index: 2000;
        left: -160px;
    }

    .note-container .note-content {
        margin-left: 0px;
    }

    .note-container .note-content .email-list {
        width: 100%;
        z-index: 1600;
    }

    .note-container .note-content .mail-body {
        z-index: 1800;
        position: fixed;
        width: 100%;
        height: 100%;
        margin-left: 0px;
        right: -100%;
        background-color: #fff;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .note-container.hide-note-sidebar .note-sidebar {
        left: 0px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .note-container.hide-note-sidebar .inbox-content {
        margin-left: 0px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .note-container.mobile-mail-show .inbox-content .mail-body {
        right: 0px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .note-container .mobile-mail-action {
        display: block;
    }

    .note-list-wrap {
        width: 100% !important;
        z-index: 1600;
    }

    .note-list-toolbar {
        width: 100%;
    }

    .note-list-toolbar .note-search-form {
        width: 100%;
    }

    .note-body {
        z-index: 1800;
        position: fixed;
        width: 100% !important;
        height: 100%;
        margin-left: 0px;
        right: -100%;
        z-index: 6800 !important;
        background-color: #fff;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .mobile-note-show .note-body {
        z-index: 1800;
        position: fixed;
        width: 100% !important;
        height: 100%;
        margin-left: 0px;
        right: 0px;
        z-index: 8800 !important;
        background-color: #fff;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .task-container .task-sidebar {
        z-index: 2000;
        left: -200px;
    }

    .task-container .task-content {
        margin-left: 0px;
    }

    .task-container .task-content .task-list {
        width: 100%;
        z-index: 1600;
    }

    .task-container .task-content .task-body {
        z-index: 1800;
        position: fixed;
        width: 100%;
        height: 100%;
        margin-left: 0px;
        right: -100%;
        background-color: #fff;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .task-container.hide-task-sidebar .task-sidebar {
        left: 0px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .task-container.hide-task-sidebar .task-content {
        margin-left: 0px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .task-container.mobile-task-show .task-content .task-body {
        right: 0px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .task-container .mobile-task-action {
        display: block;
    }

    .task-body {
        z-index: 1800;
        position: fixed;
        width: 100% !important;
        height: 100%;
        margin-left: 0px;
        right: -100%;
        z-index: 6800 !important;
        background-color: #fff;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .mobile-task-show .task-body {
        z-index: 1800;
        position: fixed;
        width: 100% !important;
        height: 100%;
        margin-left: 0px;
        right: 0px;
        z-index: 8800 !important;
        background-color: #fff;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .task-list-toolbar {
        width: 100%;
    }

    .task-list-toolbar .task-search-form {
        width: 100%;
    }

    .forum-list-container {
        margin-right: 0px;
    }

    .forum-categories-show {
        -ms-transform: translate(100%, 0px) !important;
        -webkit-transform: translate(100%, 0px) !important;
        transform: translate(100%, 0px) !important;
        -webkit-transition: transform .1s linear;
        transition: transform .1s linear;
    }

    .forum-categories-hide {
        -ms-transform: translate(0px, 0px) !important;
        -webkit-transform: translate(0px, 0px) !important;
        transform: translate(0px, 0px) !important;
        -webkit-transition: transform .1s linear;
        transition: transform .1s linear;
    }

    .forum-aside-toggle {
        display: block;
    }

    .forum-categories {
        width: 287px;
        z-index: 6000;
    }

    /*-Widgets-*/
    .stat-w-wrap {
        border: #eee 1px solid;
        margin-bottom: 20px;
    }

    .w-info-graph .w-info-chart-meta {
        padding-left: 20px;
    }

    .top-stat-box {
        padding-top: 20px;
    }

    .colored-bar .stat-w-wrap {
        border: rgba(255, 255, 255, 0.1) 1px solid !important;
    }

    .forum-list-switch {
        padding-bottom: 20px;
    }

    .sats-widget .stats-icon {
        width: 70px !important;
    }
}

@media screen and (max-width: 790px) {
    .jumbotron {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .desktop-search {
        display: none;
    }

    .mobile-search {
        display: block;
    }

    .top-bar .notification-nav {
        float: left;
        width: auto;
    }

    .sats-widget {
        margin-bottom: 20px;
    }

    .inbox-toolbar .mail-search-form {
        display: none;
    }

    .calendar-nav {
        margin-bottom: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .top-bar .notification-nav {
        float: left;
        width: auto;
    }

    .user-nav {
        float: none;
    }

    .user-nav .user-info {
        display: none !important;
    }

    .user-nav .dropdown-menu {
        left: -88px;
    }

    .user-nav>ul>li>a {
        color: #444444;
        display: block;
        min-height: 61px;
        padding: 5px 10px;
    }

    .user-nav>ul>li.open>a {
        color: #454545;
        display: block;
        min-height: 61px;
        padding: 5px 10px;
    }

    .user-nav .user-thumb {
        margin: 0px;
        text-align: center;
    }

    .mobile-search {
        float: right !important;
    }

    .responsive-fix {
        clear: both;
    }

    .table .btn-toolbar .m-user-edit,
    .table .btn-toolbar .m-user-delete {
        display: block;
        width: 100%;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .dataTables_info {
        margin-bottom: 10px;
    }

    .topic-feedback-stat {
        display: none !important;
    }

    .topic-thumb {
        width: 40px !important;
        height: 40px !important;
        padding: 10px !important;
    }

    .topic-thumb img {
        width: 40px !important;
        height: 40px !important;
    }

    .topic-intro {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .cross-ribbon {
        left: 45px !important;
    }

    .topics-list {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .ticket-action {
        margin-top: 20px;
    }

    .topic-reply {
        padding: 20px !important;
        display: block !important;
    }

    .topic-reply .topic-reply-thumb {
        display: block !important;
        margin-bottom: 20px;
    }

    .topic-reply .topic-reply-details {
        display: block !important;
        padding-left: 0px !important;
    }
}
